@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}



.devnotes{
    opacity: 40%;
    color:white;
    background:rgba(99, 99, 99, 0.788);
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace
  }


body{
    font-family: Poppins,sans-serif;
    background-color: #005C90;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.76);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-section{
  background-color: rgba(38, 36, 36, 0.815);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.main-section .container{
    /* width: 100%; */
    flex-grow: 1;
    /* background-color: cadetblue; */

    display: flex;
    flex-direction: column;
}

.details-section{

    margin-top: 70px;
    /* background-color: brown; */
    min-height: 40vh;
    display: flex;
    justify-content: space-between;

}

h1{
    font-size: 60px;
}

.subtitle{
    text-align: center;
    margin-bottom: 15px;
}


h2{
    margin-bottom: 10px;
    font-weight: 100;
    margin-bottom: 15px;
}

.demo-image{

    max-width: 30vw;
    height: auto;

    
    border-radius: 3px;
    margin-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 2px 2px #00000067;

}

.details-section li{
    font-weight: 100px;
    font-size: 12px;
}


.download-section{

    flex-grow: 1;
    /* background-color:coral; */
    display: flex;
    align-items: center;
}

.downlodBtn{
    background-color:rgba(3, 204, 0, 0.459);
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 50px;
    width: 125px;
    margin-bottom: 100px;
    margin-top: 50px;
    color:rgba(255, 255, 255, 0.74);
    transition: background-color .1s ease-in-out
}

.downlodBtn:hover{
    background-color:rgba(14, 182, 11, 0.322);
    cursor: pointer;
}


blockquote{
   font-style: italic;
   font-size: medium;
   padding: 20px 0;
}

.homefooter{
    background-color:#1C1C1C;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.349);
}


.main-header{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
margin-left: 20px;   
}


a, a:visited{
    color: white;
    text-decoration: none;
    transition: color .1s ease-in-out
}


a:hover{
    color: rgba(255, 255, 255, 0.623);
}



ul{
    list-style: none;
}


.shortcut{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}

.keybord-shorcuts li, .features li{
    font-size: small;
}


/* MediaQuerries */



@media(max-width:800px){

    .details-section{

        margin-top: 70px;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    
    }
    .demo-image{
        margin-top: 30px;    
        margin-left: 0;   
        max-width: 80vw;
    }

    .features,.keybord-shorcuts{
        text-align: center;
    }

    .downlodBtn{
        margin: 20px auto;
    }

    .details-section{
        margin-top: 30px;
    }

    h2{
        margin-bottom: 15px;
    }

    .homefooter{
        font-size: small;
        color: rgba(255, 255, 255, 0.349);
    }

    blockquote{
        text-align: center;
    }
    
}

@media(max-width:424px){
    h1{
        font-size: 20px;
    }

    .subtitle{
        font-size: 10px;
    }

    .homefooter{
        font-size: x-small;
    }


}

@media(max-width:240px){

    .main-section,.homefooter{
        background-color:transparent;
    }

}





form .btn{
    background-color:rgba(3, 204, 0, 0.459);
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.74);
    padding: 12px 40px;
    
}

form .btn:hover{
    transition: background-color .1s ease-in-out;
    background-color:rgba(14, 182, 11, 0.322);
    cursor: pointer;
}



/* JOIN FORM */

.join-form{
    margin: auto;
    background-color: #1E1E25;
    width: 500px;
    max-width: 55%;
    padding: 2rem 2rem;
    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.137);
    box-shadow: 1px 1px #00000025;

}


.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
}

.input-group:last-child{
    margin-bottom: 0;
}


.input-group label{
    font-weight: lighter;
    margin-bottom: .5rem;
}


.input-group input,#message{
    outline: none;
    background: none;
    border: 1px solid #424242;
    font-size: 1em;
    border-radius: 2px;
    padding: .5rem;
    color: rgba(255, 255, 255, 0.644);
    resize: none;
}

.input-group input:focus{
    border-color: #596da0;
}

#message, .input-group input{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
    font-size: small;
}    

::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
    font-size: small;
    }




@media(max-width:545px){


    .join-form{
        min-width: 250px;
        margin-top: 50px;


        margin: auto;
        background-color: #1E1E25;
        width: 200px;
        max-width: 55%;
        padding: 1rem 1rem;
        border-radius: 10px;
    }

    .input-group{
        margin-bottom: 1rem;
        
    }

}

@media(max-width:325px){

    .main-section,.homefooter{
        background-color:transparent;
    }

}



  /* @media(max-height:650px){

    .join-form{
        margin-bottom: 50px;
    }


} */
